@keyframes custom-ping-left {
   0% {
      transform: scale(1);
      rotate: -45deg;
   }
   50% {
      transform: scale(1.5);
   }
   100% {
      transform: scale(1);
      rotate: -45deg;
   }
}

@keyframes custom-ping-right {
   0% {
      transform: scale(1);
      rotate: 130deg;
   }
   50% {
      transform: scale(1.5);
   }
   100% {
      transform: scale(1);
      rotate: 130deg;
   }
}

.animate-pulse-left {
   animation: custom-ping-left 3s linear;
}

.animate-pulse-right {
   animation: custom-ping-right 3s linear;
}
