<div class="card-container">
   <div class="border rounded-lg">
      <div class="summary-container relative flex p-4 h-border overflow-hidden">
         <img
            class="absolute w-40 h-40 bottom-15 -left-8 -rotate-45 -z-10 opacity-20 animate-pulse-left"
            src="assets/icons-feat/pineapple.svg"
         />
         <div class="w-1/3 flex justify-center items-center">
            <img
               class="absolute w-20 h-20 bottom-0 -left-4 -rotate-45"
               src="assets/icons-feat/pineapple.svg"
            />
            <h-summary-counter
               text="Consumed"
               [amount]="day.consumedCalories"
            ></h-summary-counter>
         </div>
         <div class="relative flex flex-col justify-center items-center w-1/3">
            <span class="flex">
               <img
               class="w-5 h-5"
               src="assets/icons-feat/fire.svg"
               />
               <b class="ms-2 lg:text-lg">Calories</b>
            </span>

            <circle-progress
               class="z-10"
               #circleProgress
               [percent]="90"
               [title]="''"
               [titleColor]="'var(--primary-color)'"
               [subtitle]="''"
               [subtitleFontSize]="'0'"
               [showUnits]="false"
               [radius]="50"
               [outerStrokeWidth]="6"
               [innerStrokeWidth]="0"
               [outerStrokeColor]="'var(--primary-color)'"
               [innerStrokeColor]="'var(--secondary-color)'"
               [animation]="true"
               [animationDuration]="300"
            ></circle-progress>
            <span class="absolute text-primary font-bold lg:text-lg">{{day.actualCalories}}</span>
            <span class="absolute top-[90px] text-gray-600 text-[14px] lg:text-lg"
               >Left</span
            >
         </div>
         <div class="w-1/3 flex flex-col justify-center items-center">
            <img
               class="absolute w-20 h-20 bottom-0 -right-4 rotate-[130deg] -z-10"
               src="assets/icons-feat/dumbbell.svg"
            />
            <h-summary-counter
               text="Burned"
               [amount]="day.burnedCalories"
            ></h-summary-counter>
         </div>
         <img
            class="absolute w-40 h-40 lg:w-60 lg:h-60 bottom-15 -right-8 rotate-[130deg] -z-10 opacity-20 animate-pulse-right"
            src="assets/icons-feat/dumbbell.svg"
         />
      </div>
   </div>
</div>
